{% extends 'flatpages/default.html' %}

{% block content %}
<h2>Ваш личный кабинет</h2>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div>
    <label for="id_username">Имя пользователя:</label>
    <input type="text" id="id_username" name="username" value="{{ user.username }}">
  </div>
  <div>
    <label for="id_avatar">Аватар:</label>
    <input type="file" id="id_avatar" name="avatar">
    {% if user.userprofile.avatar %}
    <img src="{{ user.userprofile.avatar.url }}" alt="Avatar">
    {% endif %}
  </div>
  <button type="submit">Сохранить изменения</button>
</form>
{% endblock %}
